.match {
  background-color: green;
}

.word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

.letter {
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: rgb(109, 109, 109);
}

body {
  text-align: center;
  font-size: 1.5rem;
}

.form {
  padding: 25px;
}

input,
button {
  font-size: 1.5rem;
}

.grey {
  background-color: rgb(109, 109, 109);
}
.green {
  background-color: rgb(86, 180, 86);
}

.yellow {
  background-color: rgb(203, 179, 117);
}
